:root {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
button {
  all: unset;
}
