.CreateListContainer{
    width: 35.625rem;
    height: 31.75rem;
   background-color: white;
   border-radius: 1.375rem;
   padding: 2rem 2rem;
   position: absolute;
    color: #000;
    z-index: 2;
    top: 15%;
    left: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #303D438C;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.CreateListContainer > div{
    width: 100%;
}
.Title{
    margin-top: -1.5rem;
}
.Title p{
    font-family: Inter;
font-size: .875rem;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;

}
.Title span, .Priority span,.Checklist span{
    color: #FF0000;
   
}
.TitleName{
    margin-top: -4rem;
}
.TitleName input{
    width: 95%;
    height: 2.75rem;
    padding:0 1rem;
    height: 2.75rem;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 1px 2px 0px #4D40551A;
    background-color: white;
    border-radius: .25rem;
    color: #9B959F;   
}
.Priority{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.9375rem;
    margin-top: -2rem;
}
.Priority p{ 
    font-family: Inter;
font-size: .875rem;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
.Priority button{ 
border: 1px solid #E2E2E2;
font-family: Poppins;
font-size: .875rem;
font-weight: 500;
line-height: 21px;
text-align: left;
color: #767575;
display: flex;
align-items: center;
justify-content: center;
padding:0 .5rem;
border-radius: .5rem;
}
.Priority button p{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    margin-right: .5rem;
} 
.priorityBg{
    background-color: #EEECEC;
    border: none;
}
.high{
    background-color: #FF2473;
}
.moderate{
    background-color: #18B0FF;
}
.low{
    background-color:#63C05B ;
}
.select{
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1rem;
  font-family: Inter;
font-size: .875rem;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
margin-top: -2rem;
position: relative;
}
.select div{
  height: 100%;
  background-color: white;
  width: 76%;
  padding: 0 4%;
  border: 1px solid #E2E2E2;
  border-radius: .25rem;
  margin-left: 2rem;
  font-family: Inter;
font-size: .875rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
color: #9B959F;
display: flex;
align-items: center;
position: relative;
}
.select div img{
  position: absolute;
  right: 8%;
  width: .625rem;
  height: .3125rem;
}
#option{
  position: absolute;
  top: 14rem;
  left:7.5rem;
  max-height:14.7rem ;
  width: 20rem;
background-color: white;
  width: 76%;
  overflow-y: auto;
  z-index: 10;
  border: 1px solid #7E7A7A14;
 
}
#option > div{

  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
margin:0 auto;
padding: 2% 0;
}

  .initial{
  background-color: #FFEBEB;
  width: 2.5625rem;
  height: 2.5625rem;
  border-radius: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
    font-family: DM Sans;
font-size: 1.1875rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;

}
.optionButton{
  border: 1px solid #E2E2E2;
  height: 1.9375rem;
  width: 9.625rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
font-size: .875rem;
font-weight: 500;
line-height: 21px;
text-align: left;
color: #767575;
}

.list{
    width: 81.7%;
    height: 2.75rem;
    padding:0 9%;
    height: 2.75rem;
    border: 1px solid #E2E2E2;
    background-color: white;
    border-radius: .25rem;
    color: #9B959F;   
}
.Checklist{
    font-family: Inter;
font-size: .875rem;
font-weight: 500;
line-height: 16.94px;
text-align: left;
color: #000;
margin-top: -2.5rem;
}

.tasks{
    width: 60%;
    height: 11.6rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -2.5rem;
}
.task{
    position: relative;
    margin-top:1rem ;
}
.task img{
    width: .9375rem;
    height: 1rem;
    position: absolute;
    top: 30%;
    right: 3%;
}
.container {
    display: flex;
    position: absolute;
    padding-left: 2.1875rem;
    margin-bottom: .75rem;

    left: 3%;
    bottom: 38%;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: -0.3125rem;
    left: 0;
    height: 1.125rem;
    width: 1.125rem;
    background-color: white;
    border:.125rem solid #E2E2E2;
    border-radius:.375rem;
    
  }
  
  .container input:checked ~ .checkmark {
    background-color: #17A2B8;
    border:none;
     height: 1.375rem;
    width: 1.375rem;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: .45rem;
    top: .2188rem;
    width: .3rem;
    height: .5313rem;
    border: solid white;
    border-width: 0 .1875rem .1875rem 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(45deg);
    transform: rotate(40deg);
  }
.Add{
    display: flex;
    height: 1.1875rem;
    align-items:center;
    justify-content: start;
    margin-top: -2.5rem;
}
.Add img{
    width: .75rem;
    height: .75rem;
}
.Add p{
    font-family: Inter;
font-size: 1rem;
font-weight: 500;
line-height: 19.36px;
text-align: center;
margin-left: 1rem;
color: #767575;
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3rem;
}
.button div{display: flex;
justify-content: space-between;
align-items: center;
width: 50%;}
.btn1,.btn2{
    width: 45%;
    height: 2.8125rem;
    border-radius: .75rem;
    font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  }
  .btn1{
    background-color: #17A2B8;
    color: white;
  }
  .btn2{
    background-color: #ffffff;
    border: 1px solid #CF3636;
    color: #CF3636;
  }

  .button input[type="date"] {
    width: 11.5625rem;
    height: 2.8125rem;
   display: flex;
   align-items: center;
   justify-content: center;
    border: 1px solid #E2E2E2;
    border-radius: .75rem;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    color: #707070;
    font-family: Poppins;
font-size: 1rem;
font-weight: 500;
line-height: 19px;
text-align: center;

  }
  
  .button input[type="date"]::-webkit-calendar-picker-indicator {
   
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  input:focus {
    outline: none; 
    box-shadow: none; 
  }
    input[type="date"]:focus {
    outline: none; 
    box-shadow: none; 
  }

 