.settingsContainer{
    display: flex;
}
.background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #303D438C;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Settings h1{
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 29.96px;
    text-align: left;
    color: black;
    margin: 3rem;
}
.Settings form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
 

  }
  .Settings form div{
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
  }
  
  .Settings input{
    width: 22rem;
    height: 3.4375rem;
    border: .0862rem solid #D0D0D0;
    border-radius: .6875rem;
    background-color: white;
    margin-left: 3rem;
    padding: 0 4rem;
  
  font-size: 19.2px;
  font-weight: 400;
  line-height: 26.28px;
  text-align: left;
  color: #828282;
  }
  
  .Settings form .img{
    width: 2.0625rem;
    height: 2.0625rem;
    position: absolute;
    left: 12%;
    top:19%;
  }
  .Settings form .Eye{
    width: 2.0625rem;
    height: 2.0625rem;
    position: absolute;
    left: 90%;
    top:19%;
  }
  .Btn{
    width: 80%;
    border: .0869rem solid #17A2B8;
    background-color:#17A2B8 ;
    height: 3.4375rem;
    border-radius: 3.4375rem;
    font-size: 1.1875rem;
    margin: 5% 0 0 10%;
    color: white;
    
  }
  .Settings span{
    font-size: .875rem;
    font-family: Inter;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #DB371F;
  width: 78%;
  margin-top: -.5rem;
  margin-bottom: .5rem;
  }